[Unit]
Description= Checking Stand Pair on Boot

[Service]
Type=idle
ExecStartPre=/bin/sleep 30
TimeoutStartSec=20
ExecStart=/home/eden/StandStationPair/PairStand.sh

[Install]
WantedBy=multi-user.target
