[Unit]
Description= Sending Pair command to Stands

[Service]
Type=simple
TimeoutStartSec=30
ExecStart=/home/eden/StandStationPair/StandPairing/PairStand.sh
