[Unit]
Description= Sending Pair command to Stands

[Service]
Type=simple
TimeoutStartSec=30
ExecStart=/home/eden/utilities/systemd_services/PairStand.sh
