[Unit]
Description= Sending Pair command to Stands

[Service]
Type=simple
ExecStartPre=/bin/sleep 4
TimeoutStartSec=20
ExecStart=/home/eden/PairStand/PairStand.sh


